---
import Hero from "../layouts/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Project from "../layouts/Project.astro";
---

<Layout>
  <Hero src="/images/pages/surfing-two.png" title="Programming" />
  <ul class="projects">
    <Project
      title="Shortcuts"
      link="https://github.com/Tihi321/shortcuts"
      src="/images/projects/shortcuts-app.png"
    >
      <p>
        Introducing Shortcuts: Your Ultimate Windows Executable Launcher Experience the ultimate
        convenience with Shortcuts, the must-have app for effortlessly launching your Windows
        executables directly from your disk.
      </p>
    </Project>
  </ul>
</Layout>

<style>
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    gap: 8px;
    margin: 0;
    padding: 0;
  }

  @media (min-width: 769px) {
    .projects {
      gap: 16px;
    }

    .title {
      font-size: 32px;
    }

    .post {
      width: 49%;
    }
  }
</style>
