---
import Layout from "../layouts/Layout.astro";
import Project from "../layouts/Project.astro";
---

<Layout>
  <h3 class="featured-title">Applications</h3>
  <div class="info">
    For more of profeesional experience and to check projects I worked on visit <a
      href="https://www.linkedin.com/in/selaktihomir/">linkedin</a
    >.
  </div>
  <ul class="projects">
    <Project
      title="Shortcuts"
      link="https://github.com/Tihi321/shortcuts"
      src="/images/projects/shortcuts-app.png"
    >
      <p>
        Introducing Shortcuts: Your Ultimate Windows Executable Launcher Experience the ultimate
        convenience with Shortcuts, the must-have app for effortlessly launching your Windows
        executables directly from your disk.
      </p>
    </Project>
    <Project
      title="TTS Audio Creator"
      link="https://github.com/Tihi321/tts-audio-creator"
      src="/images/projects/tts-app.png"
    >
      <p>
        Introducing Text to speach Creator: Create audio mp3 file from text. Using Microsoft Edge
        Voices
      </p>
    </Project>
    <Project
      title="Quizess"
      link="https://github.com/Tihi321/quizess"
      src="/images/projects/quizess-plugin.png"
    >
      <p>
        This is Gutenberg Wordpress plugin, that allows you to create quizess, register players and
        keep records on player scores. It is an excellent solution for creating quiz games in
        Wordpress.
      </p>
    </Project>
  </ul>
</Layout>

<style>
  .info {
    text-align: center;
    padding: 32px 0;
    border-bottom: 1px solid var(--primary);
    margin-bottom: 24px;
  }
  .projects {
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 8px;
    margin: 0;
    padding: 0;
  }

  @media (min-width: 769px) {
    .projects {
      gap: 16px;
    }

    .title {
      font-size: 32px;
    }

    .post {
      width: 49%;
    }
  }
</style>
