---
import Layout from "../layouts/Layout.astro";
import { OLLAMA_SYSTEM_PROMPT, EXPERT_SYSTEM_PROMPT } from "../utils/prompts";
---

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const template = document.querySelectorAll(".template");

    template.forEach((item) => {
      const title = item.querySelector(".template-title");
      const code = item.querySelector(".template-code");

      title?.addEventListener("click", () => {
        code?.classList.toggle("show");
      });

      const copyTextButton = document.createElement("button");
      copyTextButton.textContent = "Copy";
      copyTextButton.addEventListener("click", () => {
        const text = code?.textContent || "";
        navigator.clipboard.writeText(text);
      });

      item.appendChild(copyTextButton);
    });
  });
</script>

<Layout>
  <h3 class="featured-title">Prompt templates</h3>
  <div class="info">
    <p>Prompting techniques and templates for better A.I. promting</p>
    <a href="https://cdn.tihomir-selak.from.hr/api/ai/prompts.json">Prompts</a>
    <a href="/split-generatos">Split generators</a>
  </div>
  <div class="template">
    <h2 class="template-title">Expert</h2>
    <pre class="template-code">{EXPERT_SYSTEM_PROMPT}</pre>
  </div>
  <div class="template">
    <h2 class="template-title">Ollama Quiz</h2>
    <pre class="template-code">{OLLAMA_SYSTEM_PROMPT}</pre>
  </div>
</Layout>

<style>
  .info {
    text-align: center;
    padding: 32px 0;
    border-bottom: 1px solid var(--primary);
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
  }

  .template {
    position: relative;

    button {
      position: absolute;
      top: 3px;
      right: 4px;
      padding: 8px;
      background: var(--focus);
      color: var(--primary);
      border: none;
      cursor: pointer;
      border-radius: 4px;
    }
  }

  .template-title {
    margin: 0;
    padding: 8px;
    font-size: 18px;
    background-color: var(--secondary);
    cursor: pointer;
  }

  .template-code {
    margin: 0;
    padding: 8px;
    font-size: 12px;
    background-color: var(--tertiary);
    border-radius: 0;
    height: 0;
    overflow: hidden;
    transition: all ease 0.3s;
    opacity: 0;
    pointer-events: none;
  }

  .show {
    height: 400px;
    opacity: 1;
    overflow: auto;
    pointer-events: all;
  }
</style>
